body {
    font-family: "Arial", sans-serif;
    background-image: linear-gradient(45deg, #2F3045 0%, #2A2739 99%, #2A2739 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.material-icons.md-48 {
    font-size: 40px; 
    color: rgb(168, 174, 195);
}
.material-icons.md-48:hover {
    color: rgb(200, 205, 223);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textForm {
    display: flex;
    align-items: center;
    background-color: rgb(80, 86, 110);
    border-radius: 5px;
    border-bottom: 3px solid;
    border-image: 
    linear-gradient(
      to right, #06ff45 0%, #02f2ff 100%
    ) 0 0 100% 0;
}

#textInput {
    font-size: 2rem;
    border: none;
    caret-color: rgb(200, 205, 223);
    color: rgb(200, 205, 223);
    border-radius: 5px;
}

#textInput {
    font-size: 2rem;
    border: none;
    background-color: rgb(80, 86, 110);
    padding: 20px;
}

::placeholder {
    color: rgb(168, 174, 195);
    opacity: 1; /* Firefox */
}

#textInput:focus {
    outline: none;
}

#submitBtn {
    background: none;
    color: none;
    border: none;
    margin: 10px 0 0 0;
    font-size: 2rem;
}

.hidden {
    opacity: 0;
}

.show {
    border-radius: 8px;
    background-color: rgb(80, 86, 110);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(168, 174, 195);
    opacity: 1;
    display: block;
    visibility: visible;
    max-height: 200px;
    width: 40%;
    transition: all 0.1s ease-in-out;
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }